
/* Slide in Animations  */

/* Slide in from Right  */

.slideIn-R{
    transform: translateX(0);
    opacity: 1;
    transition: all 0.5s ease;
}
.slideIn-R-Prev{
    opacity: 0;
    transform:translateX(100%)
}

/* Slide in from Left  */

.slideIn-L{
    transform: translateX(0);
    opacity: 1;
    transition: all 1.0s ease;
}
.slideIn-L-Prev{
    opacity: 0;
    transform:translateX(-100%)
}

/* Slide in from Top  */

.slideIn-T{
    transform: translateY(0);
    opacity: 1;
    transition: all 1.0s ease;
}
.slideIn-T-Prev{
    opacity: 0;
    transform:translateY(-100%)
}

/* Slide in from Bottom  */

.slideIn-B{
    transform: translateY(0);
    opacity: 1;
    transition: all 1.0s ease;
}
.slideIn-B-Prev{
    opacity: 0;
    transform:translateY(100%)
}


/* Fade Animations  */

/* Normal fade in animation  */

.fadeIn{
    opacity: 1;
    transition: all 2.0s ease;
}
.fadeIn-Prev{
    opacity: 0;
}

/* fade in Up Animation  */

.fadeIn-U{
    opacity: 1;
    transform:translateY(0%);
    transition: all 1.0s ease;
}
.fadeIn-U-Prev{
    opacity: 0;
    transform:translateY(20%)
}

/* fade in Down Animation  */

.fadeIn-D{
    opacity: 1;
    transform:translateY(0%);
    transition: all 1.0s ease;
}
.fadeIn-D-Prev{
    opacity: 0;
    transform:translateY(-20%)
}

/* fade in Left Animation  */

.fadeIn-L{
    opacity: 1;
    transform:translateX(0%);
    transition: all 1.0s ease;
}
.fadeIn-L-Prev{
    opacity: 0;
    transform:translateX(-20%)
}

/* fade in Right Animation  */

.fadeIn-R{
    opacity: 1;
    transform:translateX(0%);
    transition: all 1.0s ease;
}
.fadeIn-R-Prev{
    opacity: 0;
    transform:translateX(20%)
}

/* Zoom animations  */


/* Zoom in Animation */
.zoomIn{
    opacity: 1;
    transform:scale(100%);
    transition: all 1.0s ease;
}
.zoomIn-Prev{
    opacity: 0;
    transform:scale(50%)
}


/* Zoom in Animation */
.zoomOut{
    opacity: 1;
    transform:scale(100%);
    transition: all 1.0s ease;
}
.zoomOut-Prev{
    opacity: 0;
    transform:scale(150%)
}



/* Zoom Up Animation */
.zoom-U{
    opacity: 1;
    transform:translate(0%,0%) scale(100%);
    transition: all 1.0s ease;
}
.zoom-U-Prev{
    opacity: 0;
    transform:translate(0%,50%) scale(50%)
}

/* Zoom Down Animation */
.zoom-D{
    opacity: 1;
    transform:translate(0%,0%) scale(100%);
    transition: all 1.0s ease;
}
.zoom-D-Prev{
    opacity: 0;
    transform:translate(0%,-50%) scale(50%)
}

/* Zoom Left Animation */
.zoom-L{
    opacity: 1;
    transform:translate(0%,0%) scale(100%);
    transition: all 1.0s ease;
}
.zoom-L-Prev{
    opacity: 0;
    transform:translate(-80%,0%) scale(50%)
}

/* Zoom Right Animation */
.zoom-R{
    opacity: 1;
    transform:translate(0%,0%) scale(100%);
    transition: all 1.0s ease;
}
.zoom-R-Prev{
    opacity: 0;
    transform:translate(80%,0%) scale(50%)
}


/* Rotate Animations  */

/* Rotate In animation  */

.rotateIn{
    opacity: 1;
    transform: rotate(0deg) scale(100%);
    transition: all 1.0s ease;
}
.rotateIn-Prev{
    opacity: 0;
    transform: rotate(-140deg) scale(50%)
}


/* Rotate Left animation  */

.rotate-L{
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
    transition: all 1.0s ease;
}
.rotate-L-Prev{
    opacity: 0;
    transform: rotate(110deg) translateY(-100%) 
}

/* Rotate Left animation  */

.rotate-R{
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
    transition: all 1.0s ease;
}
.rotate-R-Prev{
    opacity: 0;
    transform: rotate(-110deg) translateY(-100%) 
}


/* Check out classes  */


/* Slide out to Right */

.slideOut-R {
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.5s ease;
}
.slideOut-R-Prev {
    opacity: 1;
    transform: translateX(0);
}

/* Slide out to Left */

.slideOut-L {
    transform: translateX(-100%);
    opacity: 0;
    transition: all 1.0s ease;
}
.slideOut-L-Prev {
    opacity: 1;
    transform: translateX(0);
}

/* Slide out to Top */

.slideOut-T {
    transform: translateY(-100%);
    opacity: 0;
    transition: all 1.0s ease;
}
.slideOut-T-Prev {
    opacity: 1;
    transform: translateY(0);
}

/* Slide out to Bottom */

.slideOut-B {
    transform: translateY(100%);
    opacity: 0;
    transition: all 1.0s ease;
}
.slideOut-B-Prev {
    opacity: 1;
    transform: translateY(0);
}


/* fade aimations  */

/* Normal fade out animation */

.fadeOut {
    opacity: 0;
    transition: all 2.0s ease;
}
.fadeOut-Prev {
    opacity: 1;
}

/* Fade out Down Animation */

.fadeOut-D {
    opacity: 0;
    transform: translateY(20%);
    transition: all 1.0s ease;
}
.fadeOut-D-Prev {
    opacity: 1;
    transform: translateY(0%);
}


/* Fade out Up Animation */

.fadeOut-U {
    opacity: 0;
    transform: translateY(-20%);
    transition: all 1.0s ease;
}
.fadeOut-U-Prev {
    opacity: 1;
    transform: translateY(0%);
}

/* Fade out Right Animation */

.fadeOut-R {
    opacity: 0;
    transform: translateX(20%);
    transition: all 1.0s ease;
}
.fadeOut-R-Prev {
    opacity: 1;
    transform: translateX(0%);
}

/* Fade out Left Animation */

.fadeOut-L {
    opacity: 0;
    transform: translateX(-20%);
    transition: all 1.0s ease;
}
.fadeOut-L-Prev {
    opacity: 1;
    transform: translateX(0%);
}


/* zoom animations  */

/* Zoom out Animation */

.zoomOut {
    opacity: 0;
    transform: scale(50%);
    transition: all 1.0s ease;
}
.zoomOut-Prev {
    opacity: 1;
    transform: scale(100%);
}


/* Zoom Down Animation */
.zoom-D {
    opacity: 0;
    transform: translate(0%, -50%) scale(50%);
    transition: all 1.0s ease;
}
.zoom-D-Prev {
    opacity: 1;
    transform: translate(0%, 0%) scale(100%);
}


/* Zoom Up Animation */
.zoom-U {
    opacity: 0;
    transform: translate(0%, 50%) scale(50%);
    transition: all 1.0s ease;
}
.zoom-U-Prev {
    opacity: 1;
    transform: translate(0%, 0%) scale(100%);
}

/* Zoom Right Animation */
.zoom-R {
    opacity: 0;
    transform: translate(80%, 0%) scale(50%);
    transition: all 1.0s ease;
}
.zoom-R-Prev {
    opacity: 1;
    transform: translate(0%, 0%) scale(100%);
}

/* Zoom Left Animation */
.zoom-L {
    opacity: 0;
    transform: translate(-80%, 0%) scale(50%);
    transition: all 1.0s ease;
}
.zoom-L-Prev {
    opacity: 1;
    transform: translate(0%, 0%) scale(100%);
}



/* Rotate Out animation */
.rotateOut {
    opacity: 0;
    transform: rotate(140deg) scale(50%);
    transition: all 1.0s ease;
}
.rotateOut-Prev {
    opacity: 1;
    transform: rotate(0deg) scale(100%);
}


/* Rotate Right animation */
.rotate-R {
    opacity: 0;
    transform: rotate(-110deg) translateY(100%);
    transition: all 1.0s ease;
}
.rotate-R-Prev {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
}


/* Rotate Left animation */
.rotate-L {
    opacity: 0;
    transform: rotate(110deg) translateY(100%);
    transition: all 1.0s ease;
}
.rotate-L-Prev {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
}
